@media (max-width: 1920px) {
  .wrapper {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 1260px) {
  .container {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .main-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 58.8%;
  }
  .main-header .header-logo {
    margin-right: 0;
  }
  .main-header .header-address,
  .main-header .header-phone,
  .main-header .header-schedule {
    width: 42%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-header .header-schedule {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-nav {
    display: flex;
  }
  .main-nav ul {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-nav .main-search {
    display: flex;
    align-items: center;
    margin-left: auto;
    box-sizing: border-box;
  }
  .main-nav .main-search input {
    margin-top: 0;
    max-width: 250px;
  }
  .main-nav .main-search button {
    margin-top: 0;
  }
  .main-content {
    margin-top: 287px;
  }
  .main-content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog-section {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .catalog-section-item:nth-child(3n) {
    margin-right: 20px;
  }
  .catalog-section-item:nth-child(2n) {
    margin-right: 0;
  }
  .main-share {
    float: none;
  }
  .main-text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .main-text h1 {
    line-height: 1.3;
  }
  .main-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-footer .container .footer-contacts {
    margin-right: 0;
  }
  .main-footer .container .footer-info {
    width: 100%;
    margin-top: 30px;
  }
  .main-footer .container .footer-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .main-footer .container .footer-info span {
    text-align: center;
    margin-top: 20px;
  }
  .main-footer .container .footer-info a {
    margin-right: auto;
  }
}
@media (max-width: 1100px) {
  .catalog-section {
    width: 60%;
    justify-content: space-between;
  }
  .main-share {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-share > h2 {
    width: 100%;
    margin-bottom: 30px;
  }
  .main-share .main-share-link {
    width: 100%;
    text-align: center;
  }
  .main-share .share-block {
    margin-right: 20px;
  }
  .main-share .share-block:nth-of-type(4n),
  .main-share .share-block:nth-of-type(6n) {
    margin-right: 0;
  }
  .main-share .share-block:last-of-type {
    margin-bottom: 20px;
  }
}
@media (max-width: 1090px) {
  .main-nav ul {
    justify-content: space-between;
  }
}
@media (max-width: 1079px) {
  .main-share .share-block {
    margin-right: 20px;
  }
  .main-share .share-block:nth-of-type(4n),
  .main-share .share-block:nth-of-type(6n) {
    margin-right: 20px;
  }
  .main-share .share-block:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media (max-width: 1044px) {
  .main-header .container {
    justify-content: space-around;
  }
  .header-wrapper {
    order: 1;
    width: 100%;
  }
  .main-header .header-address,
  .main-header .header-phone,
  .main-header .header-schedule {
    width: auto;
    margin-top: 20px;
    margin-right: 11%;
  }
  .main-header .header-schedule {
    display: inline-block;
    margin-right: 0;
  }
  .main-content {
    margin-top: 317px;
  }
}
@media (max-width: 1110px) {
  .main-footer .container {
    flex-direction: row;
  }
  .main-footer .container .site-sections {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    width: 28%;
  }
  .main-footer .container .site-goods {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 28%;
  }
  .main-footer .container .site-goods li {
    display: block;
  }
  .main-footer .container .site-goods li:nth-child(odd) {
    width: auto;
  }
  .main-footer .container .footer-contacts {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 28%;
  }
  .main-footer .container .footer-contacts p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 940px) {
  .main-header {
    position: static;
  }
  .main-header .header-address,
  .main-header .header-phone,
  .main-header .header-schedule {
    width: 200px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content {
    margin-top: 0;
  }
}
@media (max-width: 885px) {
  .catalog-section {
    width: 468px;
  }
}
@media (max-width: 840px) {
  .main-nav {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-nav ul {
    width: 100%;
    justify-content: center;
  }
  .main-nav .main-search {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 835px) {
  .main-aside-menu button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-menu-burger.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .main-aside-menu button.active {
    background-image: url(../img/icon-menu-cross.svg);
  }
  .main-aside-menu-wrapper {
    display: none;
  }
  .main-aside-menu-wrapper.visible {
    display: block;
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: #fff;
    z-index: 10;
    padding: 15px 10px;
    border: 1px solid #ddd;
  }
  .catalog-section {
    width: 100%;
    padding-left: 30px;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .catalog-section-item {
    margin-right: 10px;
  }
  .catalog-section-item:nth-child(2n) {
    margin-right: 10px;
  }
}
@media (max-width: 808px) {
  .main-share {
    justify-content: space-around;
  }
  .main-share .share-block:nth-of-type(3n) {
    margin-right: 20px;
  }
  .main-share .share-block:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (max-width: 670px) {
  .main-header .header-cart a {
    width: 70px;
    height: 100px;
  }
  .main-header .header-cart a::before {
    left: 15%;
    top: 32%;
    background-size: 95%;
  }
  .main-header .header-cart span {
    margin-top: 25px;
    margin-left: 39.5px;
  }
  .main-text h1 {
    font-size: 24px;
  }
}
@media (max-width: 660px) {
    .main-footer .container {
      flex-direction: column;
    }
    .main-footer .container .site-sections {
    margin-top: 0;
    width: 90%;
  }
  .main-footer .container .site-goods {
    width: 90%;
  }
  .main-footer .container .footer-contacts {
    width: 90%;
  }
}

@media (max-width: 536px) {
  .main-share .share-block {
    margin-right: 0;
  }
  .main-share .share-block:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media (max-width: 410px) {
  .main-header .header-logo {
    width: 70%;
  }
  .main-header .header-logo img {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .main-nav .main-search input {
    width: 200px;
  }
}
